AdminClientApp/AdminClientApp/Connected Services/NewsSVC/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Project" />
  <xs:element name="GetTenNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userinput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTenNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Project" minOccurs="0" name="GetTenNewsResult" nillable="true" type="q1:ArrayOfNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userinput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Project" minOccurs="0" name="GetSimilarNewsResult" nillable="true" type="q2:ArrayOfNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNBestPossitive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userinput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNBestPossitiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Project" minOccurs="0" name="GetNBestPossitiveResult" nillable="true" type="q3:ArrayOfNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNBestNegative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userinput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNBestNegativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Project" minOccurs="0" name="GetNBestNegativeResult" nillable="true" type="q4:ArrayOfNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToRanking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Project" minOccurs="0" name="UserRanking" nillable="true" type="q5:Ranking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToRankingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsPhotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>