AdminClientApp/AdminClientApp/Connected Services/NewsSVC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Project" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsService_GetTenNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTenNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetTenNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTenNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetSimilarNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimilarNews" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetSimilarNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimilarNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNBestPossitive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNBestPossitive" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNBestPossitive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNBestPossitiveResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNBestNegative_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNBestNegative" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNBestNegative_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNBestNegativeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_AddToRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToRanking" />
  </wsdl:message>
  <wsdl:message name="INewsService_AddToRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToRankingResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNewsPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsPhoto" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetNewsPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsPhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsService">
    <wsdl:operation name="GetTenNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetTenNews" message="tns:INewsService_GetTenNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetTenNewsResponse" message="tns:INewsService_GetTenNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimilarNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetSimilarNews" message="tns:INewsService_GetSimilarNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetSimilarNewsResponse" message="tns:INewsService_GetSimilarNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNBestPossitive">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNBestPossitive" message="tns:INewsService_GetNBestPossitive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNBestPossitiveResponse" message="tns:INewsService_GetNBestPossitive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNBestNegative">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNBestNegative" message="tns:INewsService_GetNBestNegative_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNBestNegativeResponse" message="tns:INewsService_GetNBestNegative_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/AddToRanking" message="tns:INewsService_AddToRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/AddToRankingResponse" message="tns:INewsService_AddToRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetNewsPhoto" message="tns:INewsService_GetNewsPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetNewsPhotoResponse" message="tns:INewsService_GetNewsPhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsService" type="tns:INewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTenNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetTenNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimilarNews">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetSimilarNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNBestPossitive">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNBestPossitive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNBestNegative">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNBestNegative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToRanking">
      <soap:operation soapAction="http://tempuri.org/INewsService/AddToRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsPhoto">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetNewsPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="BasicHttpBinding_INewsService" binding="tns:BasicHttpBinding_INewsService">
      <soap:address location="http://localhost:8080/WCF-Project/NewsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>